# The sparks foundation (Data science and Business analytics internship)

Task - 5 : Exploratory Data Analysis - Sports

Perform Exploratory Data Analysis on 'Indian Premiere League'
Objective::
● Perform ‘Exploratory Data Analysis’ on dataset ‘Indian Premier League’

● As a sports analysts, find out the most successful teams, players and factors contributing win or loss of a team.

● Suggest teams or players a company should endorse for its products.

● Dataset:https://bit.ly/34SRn3b

# Import required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
matches_df = pd.read_csv("matches.csv")
deliveries_df = pd.read_csv("deliveries.csv")

In [3]:
matches_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
matches_df.shape

(756, 18)

In [5]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [6]:
matches_df.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [7]:
matches_df.duplicated().sum()

0

In [8]:
matches_df.nunique()

id                 756
season              12
city                32
date               546
team1               15
team2               15
toss_winner         15
toss_decision        2
result               3
dl_applied           2
winner              15
win_by_runs         89
win_by_wickets      11
player_of_match    226
venue               41
umpire1             61
umpire2             65
umpire3             25
dtype: int64

In [9]:
matches_df['season'].value_counts()

2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [10]:
matches_df['win_by_wickets'].value_counts()

0     350
6      85
7      80
5      71
8      54
4      41
9      37
3      18
10     11
2       6
1       3
Name: win_by_wickets, dtype: int64

In [11]:
matches_df['toss_decision'].value_counts()

field    463
bat      293
Name: toss_decision, dtype: int64

In [12]:
matches_df['result'].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [13]:
matches_df['team1'].value_counts()

Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Gujarat Lions                   14
Rising Pune Supergiant           8
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Delhi Capitals                   6
Name: team1, dtype: int64

In [14]:
matches_df['team2'].value_counts()

Royal Challengers Bangalore    95
Kolkata Knight Riders          95
Delhi Daredevils               89
Mumbai Indians                 86
Kings XI Punjab                85
Rajasthan Royals               80
Chennai Super Kings            75
Sunrisers Hyderabad            45
Deccan Chargers                32
Pune Warriors                  26
Gujarat Lions                  16
Delhi Capitals                 10
Rising Pune Supergiant          8
Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Name: team2, dtype: int64

In [15]:
matches_df['winner'].value_counts()

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [16]:
matches_df['player_of_match'].value_counts()[:15]

CH Gayle          21
AB de Villiers    20
RG Sharma         17
MS Dhoni          17
DA Warner         17
YK Pathan         16
SR Watson         15
SK Raina          14
G Gambhir         13
MEK Hussey        12
AM Rahane         12
V Kohli           12
V Sehwag          11
DR Smith          11
AD Russell        11
Name: player_of_match, dtype: int64

In [17]:
matches_df['toss_winner_is_winner'] = 'no'
matches_df['toss_winner_is_winner'].iloc[matches_df.toss_winner == matches_df.winner] = 'yes'
matches_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,toss_winner_is_winner
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,no
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,yes
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,yes
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,yes
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,yes

In [18]:
matches_df.to_csv('matches_df.csv')

In [19]:
deliveries_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [20]:
deliveries_df.shape

(179078, 21)

In [21]:
deliveries_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [22]:
deliveries_df.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
dtype: int64

In [23]:
deliveries_df['match_id'].value_counts()

126      267
34       263
534      262
476      262
388      261
        ...
120      108
568      106
452      100
301       63
11340     51
Name: match_id, Length: 756, dtype: int64

In [24]:
deliveries_df.duplicated().sum()

23

In [25]:
deliveries_df.drop_duplicates(inplace = True)

In [26]:
deliveries_df.duplicated().sum()

0

In [27]:
deliveries_df.nunique()

match_id            756
inning                5
batting_team         15
bowling_team         15
over                 20
ball                  9
batsman             516
non_striker         511
bowler              405
is_super_over         2
wide_runs             6
bye_runs              5
legbye_runs           6
noball_runs           5
penalty_runs          2
batsman_runs          8
extra_runs            7
total_runs           10
player_dismissed    487
dismissal_kind        9
fielder             499
dtype: int64

In [28]:
deliveries_df['is_super_over'].value_counts()

0    178974
1        81
Name: is_super_over, dtype: int64

In [29]:
deliveries_df['wide_runs'].value_counts()

0    173650
1      4915
2       230
5       208
3        47
4         5
Name: wide_runs, dtype: int64

In [30]:
deliveries_df['bye_runs'].value_counts()

0    178575
1       324
4       123
2        31
3         2
Name: bye_runs, dtype: int64

In [31]:
deliveries_df['legbye_runs'].value_counts()

0    176119
1      2557
4       220
2       138
3        17
5         4
Name: legbye_runs, dtype: int64

In [32]:
deliveries_df['noball_runs'].value_counts()

0    178341
1       698
2         9
5         6
3         1
Name: noball_runs, dtype: int64

In [33]:
deliveries_df['penalty_runs'].value_counts()

0    179053
5         2
Name: penalty_runs, dtype: int64

In [34]:
deliveries_df['batsman_runs'].value_counts()

0    70836
1    67511
4    20390
2    11471
6     8170
3      587
5       79
7       11
Name: batsman_runs, dtype: int64

In [35]:
deliveries_df['extra_runs'].value_counts()

0    169519
1      8494
2       407
4       348
5       219
3        67
7         1
Name: extra_runs, dtype: int64

In [36]:
deliveries_df['total_runs'].value_counts()

1     73048
0     62993
4     20597
2     13124
6      8148
3       688
5       339
8        64
7        38
10       16
Name: total_runs, dtype: int64

In [37]:
deliveries_df['inning'].value_counts()

1    92727
2    86232
3       50
4       38
5        8
Name: inning, dtype: int64

In [38]:
deliveries_df['ball'].value_counts()

1    29039
2    28962
3    28878
4    28810
5    28718
6    28620
7     5112
8      794
9      122
Name: ball, dtype: int64

In [39]:
deliveries_df['bowler'].value_counts()[:15]

Harbhajan Singh    3451
A Mishra           3172
PP Chawla          3157
R Ashwin           3016
SL Malinga         2974
DJ Bravo           2711
B Kumar            2707
P Kumar            2637
UT Yadav           2602
SP Narine          2600
RA Jadeja          2538
Z Khan             2276
DW Steyn           2207
R Vinay Kumar      2186
SR Watson          2137
Name: bowler, dtype: int64

In [40]:
deliveries_df['batsman'].value_counts()[:15]

V Kohli           4211
SK Raina          4044
RG Sharma         3816
S Dhawan          3775
G Gambhir         3524
RV Uthappa        3490
DA Warner         3398
MS Dhoni          3318
AM Rahane         3212
CH Gayle          3131
AB de Villiers    2976
KD Karthik        2889
AT Rayudu         2681
SR Watson         2638
PA Patel          2442
Name: batsman, dtype: int64

In [41]:
deliveries_df['non_striker'].value_counts()[:15]

SK Raina          4173
S Dhawan          4090
V Kohli           4070
RG Sharma         3857
G Gambhir         3740
AM Rahane         3465
RV Uthappa        3378
DA Warner         3126
CH Gayle          3023
AB de Villiers    2996
MS Dhoni          2988
KD Karthik        2914
AT Rayudu         2832
PA Patel          2608
MK Pandey         2559
Name: non_striker, dtype: int64

In [43]:
temp_df = deliveries_df.groupby('batsman')['batsman_runs'].agg('sum').reset_index().sort_values(by='batsman_runs', ascending=False).reset_index(drop=True)
temp_df.head(10)

          batsman  batsman_runs
0         V Kohli          5434
1        SK Raina          5415
2       RG Sharma          4914
3       DA Warner          4741
4        S Dhawan          4631
5        CH Gayle          4560
6        MS Dhoni          4477
7      RV Uthappa          4444
8  AB de Villiers          4428
9       G Gambhir          4223

In [45]:
temp_df = deliveries_df.groupby('bowler')['ball'].agg('count').reset_index().sort_values(by='ball', ascending=False).reset_index(drop=True)
temp_df.head(10)

            bowler  ball
0  Harbhajan Singh  3451
1         A Mishra  3172
2        PP Chawla  3157
3         R Ashwin  3016
4       SL Malinga  2974
5         DJ Bravo  2711
6          B Kumar  2707
7          P Kumar  2637
8         UT Yadav  2602
9        SP Narine  2600

In [46]:
temp_df = deliveries_df.groupby('bowler')['extra_runs'].agg(lambda x: (x>0).sum()).reset_index().sort_values(by='extra_runs', ascending=False).reset_index(drop=True)
temp_df.head(10)

       bowler  extra_runs
0  SL Malinga         221
1     P Kumar         185
2    UT Yadav         180
3    DJ Bravo         176
4     B Kumar         162
5   SR Watson         155
6    I Sharma         151
7    RP Singh         145
8    DW Steyn         139
9    R Ashwin         133

In [47]:
temp_df = deliveries_df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==6).sum()).reset_index().sort_values(by='batsman_runs', ascending=False).reset_index(drop=True)
temp_df.head(10)

          batsman  batsman_runs
0        CH Gayle           327
1  AB de Villiers           214
2        MS Dhoni           207
3        SK Raina           195
4       RG Sharma           194
5         V Kohli           191
6       DA Warner           181
7       SR Watson           177
8      KA Pollard           175
9       YK Pathan           161

In [48]:
temp_df = deliveries_df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==0).sum()).reset_index().sort_values(by='batsman_runs', ascending=False).reset_index(drop=True)
temp_df.head(10)

      batsman  batsman_runs
0     V Kohli          1493
1    S Dhawan          1455
2    CH Gayle          1423
3   RG Sharma          1390
4  RV Uthappa          1382
5    SK Raina          1381
6   G Gambhir          1351
7   DA Warner          1254
8   AM Rahane          1198
9    MS Dhoni          1111

In [49]:
deliveries_df.to_csv('deliveries_df.csv')